footer {
    font-family: 'Niramit Medium', sans-serif;
    color: #2c3854;
    background: linear-gradient(90deg,#d0e4ec,#e0eed3 47%,#cfe4ed);
    margin-top: 50px;
    padding: 50px 0;
    font-size: 20px;
    display: flex;
    align-items: column;
    justify-content: center;
    text-align: center;
}